# The API URL to send requests to
API_UPSTREAM=http://127.0.0.1:8000/graphql

# The GraphQL schema source
# Available formats: https://the-guild.dev/graphql/codegen/docs/config-reference/schema-field#available-formats
GRAPHQL_SCHEMA_SOURCE=http://127.0.0.1:8000/graphql

# The key to use for encrypting values that should only be accessible on the server-side (i.e. in RSC & during SSR)
# Must be a 256-bit key in base64 encoding (44 characters long, incl padding)
# One can be generated with:
#  crypto.subtle.generateKey({ name: "AES-GCM", length: 256}, true, ["encrypt", "decrypt"])
#    .then((key) => crypto.subtle.exportKey("raw", key))
#    .then((raw) => Buffer.from(raw).toString('base64'))
#    .then(console.log)
SSR_ONLY_KEY=
